@each $key, $val in $colors{
    .text-#{$key}{
        color: $val;
    }
    .text-hover-#{$key}{
        &:hover{
            color: $val;
        }
    }
    .background-#{$key}{
        background-color: $val;
    }
}